<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.core.mapper.CarInfoMapper" >
  <resultMap id="BaseResultMap" type="com.base.core.model.CarInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="car_code" property="carCode" jdbcType="VARCHAR" />
    <result column="car_name" property="carName" jdbcType="VARCHAR" />
    <result column="factory_code" property="factoryCode" jdbcType="VARCHAR" />
    <result column="factory_name" property="factoryName" jdbcType="VARCHAR" />
    <result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="series_code" property="seriesCode" jdbcType="VARCHAR" />
    <result column="series_name" property="seriesName" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="opv_code" property="opvCode" jdbcType="VARCHAR" />
    <result column="opv_name" property="opvName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>